<html>
  <head>
    <title>Example webrtc.io</title>
    <link type="text/css" href="/stylesheets/style_new.css" rel="stylesheet"></link>
	<%- include script %>
  </head>
  <body >
  <pre>
  
  </pre>
  <ul><h2>API</h2>
  <li><a href=/resources/api@v0.2.x.html>api@v0.2.x</a></li>
  </ul>
  </body>
</html>